//! **************************************************************************
// Written by: Map P.68d on Tue Nov 04 11:41:20 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "clr" LOCATE = SITE "C4" LEVEL 1;
COMP "Btn1" LOCATE = SITE "B8" LEVEL 1;
COMP "Btn2" LOCATE = SITE "A8" LEVEL 1;
COMP "mRxD" LOCATE = SITE "N17" LEVEL 1;
COMP "JA<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "JA<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "JA<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "JA<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "notaSalida<0>" LOCATE = SITE "U15" LEVEL 1;
COMP "notaSalida<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "notaSalida<2>" LOCATE = SITE "U16" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "red<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "red<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "red<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "Enable7Seg<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "Enable7Seg<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "Enable7Seg<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "Enable7Seg<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "green<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "green<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "Leds7Seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "Leds7Seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "Leds7Seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "Leds7Seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "Leds7Seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "Leds7Seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "Leds7Seg<6>" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

