//! **************************************************************************
// Written by: Map P.68d on Tue Oct 07 23:12:15 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "Led1" LOCATE = SITE "J14" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "bajar" LOCATE = SITE "E18" LEVEL 1;
COMP "hsync" LOCATE = SITE "T4" LEVEL 1;
COMP "reset" LOCATE = SITE "H13" LEVEL 1;
COMP "subir" LOCATE = SITE "D18" LEVEL 1;
COMP "vsync" LOCATE = SITE "U3" LEVEL 1;
COMP "red<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "red<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "red<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "Enable7Seg<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "Enable7Seg<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "Enable7Seg<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "Enable7Seg<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "green<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "green<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "Leds7Seg<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "Leds7Seg<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "Leds7Seg<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "Leds7Seg<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "Leds7Seg<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "Leds7Seg<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "Leds7Seg<6>" LOCATE = SITE "H14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

